absl-py==2.1.0
astunparse==1.6.3
certifi==2024.8.30
charset-normalizer==3.3.2
contourpy==1.1.0
cycler==0.11.0
flatbuffers==24.3.25
fonttools==4.43.0
gast==0.6.0
grpcio==1.58.0
h5py==3.11.0
idna==3.8
keras==3.5.0
matplotlib==3.7.3
numpy==1.26.4
protobuf==4.25.4
tensorflow==2.16.2
tensorflow-macos==2.16.2
tensorflow-metal==1.1.0
termcolor==2.4.0
urllib3==2.2.2